@charset "UTF-8";

/* 回答はここに書いてね */
.q11__trans {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 333px;
    margin: 0 auto;
    cursor: pointer;
}
.q11__trans__thumb { transition: all .5s; }
/*↑時間的変化*/
.q11__trans__desc {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    /*↑グラデーション*/
    transition: all .5s;
}
.q11__trans:hover .q11__trans__thumb { transform: scale(1.5); }
/*ホバーしたときに拡大*/
.q11__trans:hover .q11__trans__desc { bottom: 0; }
.q11__trans__desc__txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: #FFF;
    box-sizing: border-box;
    word-break: break-all;
}
.q11__anima {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 10px solid #ECF1F2;
    border-top-color: #00BCD4;
    border-radius: 50%;
    animation: loading 1.1s infinite linear;
    /*１．１秒で一周回る。*/
}

@keyframes loading
{
    0% { transform: rotate(0deg);   opacity: 0.2; } /*0%の時は20％の透明度*/
    50%  { transform: rotate(180deg); opacity: 1.0; } /*50%の時は透明度なし*/
    100%   { transform: rotate(360deg); opacity: 0.2; } /*100%の時に20％の透明度に戻る*/
/*透明度で点滅させたりできる*/
}
/* 回答はここに書いてね */
