@charset "UTF-8";

/* 回答はここに書いてね */
.q6 {
    font-size: 0;
    text-align: center;
}
.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.small {
    padding: 0 15px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 26px;
}
.middle {
    padding: 0 20px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 32px;
}
.large {
    padding: 0 25px;
    border-radius: 7px;
    font-size: 24px;
    line-height: 38px;
}
.default {
    background-color: #fff;
    color: #222;
}
.common {
    background-color: #00BCD4;
    color: #FFF;
}
.error {
    background-color: #FF4081;
    color: #FFF;
}
.disabled {
    background-color: #E5E5E5;
    color: #FFF;
    cursor: default;
}
.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12),
                0 1px 4px rgba(0, 0, 0, .12);
}
/* 回答はここに書いてね */
