@charset "UTF-8";

/* 回答はここに書いてね */

.balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  border: 5px solid #222;
  border-radius: 30px;
}

.balloon:before {
  border: 16px solid;
  border-bottom: 0;
  border-color: #222 transparent;
  display: block;
  position: absolute;
  bottom: -16px;
  left: 16px;
  width: 0;
  height: 0;
  content: "";
}

.balloon:after {
  border: 16px solid;
  border-bottom: 0;
  border-color: #fff transparent;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 16px;
  width: 0;
  height: 0;
  content: "";
}
/* 回答はここに書いてね */
