@charset "UTF-8";

/* 回答はここに書いてね */

.balloon {
    position: relative;
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    border: 5px solid #222;
    border-radius: 30px;
}

.balloon:before {
  border-top-width: 16px;
  border-right-width: 16px;
  border-bottom-width: 0;
  border-left-width: 16px;
  border-color: #222 transparent;
  border-style: solid;
  display: block;
  position: absolute;
  bottom: -16px;
  left: 16px;
  width: 0;
  height: 0;
  content: "";
}

.balloon:after {
  border-top-width: 16px;
  border-right-width: 16px;
  border-bottom-width: 0;
  border-left-width: 16px;
  border-color: #fff transparent;
  border-style: solid;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 16px;
  width: 0;
  height: 0;
  content: "";
}
/* 回答はここに書いてね */
